---
import Layout from "../layouts/Layout.astro";
import { VersionSelector } from "../components/VersionSelector.tsx";
import { getCollection } from "astro:content";
import site from "../content/site";

export async function getStaticPaths() {
  const chartEntries = await getCollection("charts");
  return chartEntries.map((entry) => {
    const parts = entry.id.split(".");
    const slug = parts.slice(0, parts.length - 1).join(".");
    const [chart, version] = slug.split("/");
    return {
      params: { slug },
      props: { chart, version, description: entry.data.description, entry: entry },
    };
  });
}

async function getVersions(currentChart: string) {
  const chartEntries = await getCollection("charts");
  return chartEntries
    .map((entry) => {
      const parts = entry.id.split(".");
      const slug = parts.slice(0, parts.length - 1).join(".");
      const [chart, version] = slug.split("/");
      return {
        slug,
        version,
        chart,
      };
    })
    .filter((entry) => entry.chart === currentChart)
    .reverse();
}

const { chart, version, description, entry } = Astro.props;

const versions = await getVersions(chart);
const currentIndex = versions.findIndex((entry) => entry.version === version);
const { Content } = await entry.render()
---

<Layout title={`${chart} ${version} | ${site.name}`}>
  <main class="flex flex-col min-h-screen">
    { currentIndex !== 0 ? (
    <section class="bg-red-800 text-red-50 py-4 px-2">
      <section class="max-w-3xl mx-auto">
        You're viewing an old version of { chart } chart.
        <a href={ import.meta.env.BASE_URL + versions[0].slug } class="underline">View the latest version.</a>
      </section>
    </section>
    ) : false}
    <section
      class="bg-gradient-to-tr from-violet-900 to-fuchsia-700 bg-[length:400%] animate-sidetoside py-24 px-2 sm:py-32"
    >
      <header class="max-w-3xl mx-auto">
        <ol class="flex gap-2 text-sm sm:text-lg mb-8">
          <li>
            <a
              href={import.meta.env.BASE_URL}
              class="text-violet-200 underline"
            >
              {site.name}
            </a>
          </li>
          <li class="before:content-['/'] before:mr-1 text-violet-300">
            {chart}
          </li>
        </ol>
        <h1 class="font-black uppercase text-violet-200 text-2xl sm:text-5xl">
          {chart}
        </h1>
      </header>
    </section>
    <section class="bg-violet-950 py-8 px-2">
      <section class="max-w-3xl mx-auto flex">
        <p class="text-violet-300 flex-grow">
          {description}
        </p>
        <VersionSelector
          versions={versions}
          currentIndex={currentIndex}
          client:load
        />
      </section>
    </section>
    <section class="flex-grow max-w-3xl mx-auto mt-16 prose prose-headings:text-gray-600 w-full overflow-x-scroll px-2">
      <Content />
    </section>
    <section class="py-12 border-t px-2">
      <p class="max-w-3xl mx-auto text-violet-950">
        Star
        <a href={site.source} class="underline text-violet-500">
          the source on GitHub.
        </a>
      </p>
    </section>
  </main>
</Layout>
